 <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp" %>
<%= stylesheet_link_tag "rutas", media: "all" %>

<script>
$(document).ready(function(){
  $("#show").click(function(){
    var data={
     zona_id: $('#_zona_id').val()
    }

    $.post('/resultado_zona' , data, function(result){
        /*  var styles = document.getElementsByTagName("link");
          for (var i=0;i<styles.length;i++) {
             if (styles[i].rel = "stylesheet" && styles[i].href=="/assets/AdminLTE.css?body=1"){
                alert(styles[i].href);
            }
          }*/
          document.getElementById("lista").innerHTML= result;
                              //  $("#lista").html(result);
    }).success();
    $("#detalleRuta").hide('fast');
    $("#lista").show();
    
  });
});



</script>

 <% provide(:title, @title) %>
 <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <%= render 'shared/user_sidebar' %> 
    </aside>
    <aside class="right-side">
    <section class="content-header">
        <h1>Rutas</h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active">Rutas por zona</li>
        </ol>
    </section>
    <section class="content">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="col-sm-3" style="margin: 0; padding: 0;">
                          <%= collection_select(nil, :zona_id, Zona.all(:order => 'nombre'), :id, :nombre, { :prompt => 'Zona' }, :class => "form-control" ) %>
                </div>
                  <div class="col-sm-3" style="margin: 0; padding: 0;">
                     <button id="show" type="submit" class="btn btn-flat btn-registro" style="padding-top: 5px; padding-bottom:5px;">Filtrar</button> 
                  </div>
      
                
            </div></br>
            <div id="detalleRuta" class="row-fluid" style="display:none;"></div>
            <div class="row-fluid">
                    <div id="lista">
                        <%= render 'shared/user_rutas_zona' %>
                    </div>
            </div>
        </div>
    </section>                                  
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->