<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp" %>
<%= stylesheet_link_tag "rutas", media: "all" %>
<% provide(:title, @title) %>
<%if signed_in? %>
    <script type="text/javascript">
    $(document).ready(function(){
      $("#show").click(function(){
        var data={
         cantidad: $('.cantidad:checked').val(),
         id: $('#id').val()
        }

        $.post('/mostrar_viajes' , data, function(result){
                                    $("#lista").html(result);
        }).success();
        $("#lista").show();
        
      });
    });
    </script>
 <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        
            <%= render 'shared/user_sidebar' %> 
        
    </aside>
<%end%>
    <aside class="right-side">
    <section class="content-header">
        <h1>Rutas</h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> <%=@ruta.nombre%></a></li>
            <li class="active">Viajes</li>
        </ol>
    </section>
    <section class="content">
    	<div class="row-fluid">
    		<%= render 'shared/user_detalleruta'%>
    	</div></br></br>
        <div class="row-fluid" style="display:none;" id="lista">
            
        </div>
    </section>                                  
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->


<%= render 'shared/modal_registro'%>