
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places" %>
 <%= javascript_include_tag "busquedarutas" %>
<%= stylesheet_link_tag "rutas", media: "all" %>
<% provide(:title, 'Inicio') %>
<script>
$(document).ready(function(){
  $("#show").click(function(){
    var data={
     origenLat: $('#origenLat').val(),
     origenLng: $('#origenLng').val(),
     destinoLat: $('#destinoLat').val(),
     destinoLng: $('#destinoLng').val(),
     horainicio: $('#horainicio').val(),
     origenRuta: $('#origenRuta').val(),
     destinoRuta: $('#destinoRuta').val(),
     fechainicio: $('#diaViajeRuta').val()
    }

    $.post('/procesar_busqueda' , data, function(result){
                                $("#lista").html(result);
    }).success();
        
  });
});
</script>
<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
               <%= render 'shared/user_sidebar' %> 
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Inicio
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">Inicio</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row-fluid">

            <div class="span12">
                <div class="span9">
                  <li>
  <%= button_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
                    <%= render 'shared/user_reservaciones' %>
                    <%= render 'shared/user_prox_promo' %> 
                    
                    <hr></hr>
                </div>
                <div class="span3">
                    <%= render 'shared/user_gamification_data' %> 
                    <%= render 'shared/user_stats' %>
                    <br>
                    <%= render 'shared/user_leaderboard' %>
                    <br>
                    <%= render 'shared/user_ultimas_medallas' %> 
                    
                </div>

               
            </div>
        </div>
                </section>
                                                  
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->