 <% provide(:title, @title) %>
 <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <%= render 'shared/user_sidebar' %> 
    </aside>
    <aside class="right-side">
    <section class="content-header">
        <h1><i class="fa fa-usd"></i> Recarga de Saldo<small><Recarga></Recarga></small></h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active"><i class="fa fa-usd"></i> Recarga de Saldo</li>
        </ol>
    </section>
    <section class="content">
        <div class="row-fluid">
            <div class="span12">
            <%#= form_tag(controller: "clientes", action: "formapago", method: "get", class: "nifty_form") do %>
            <%= form_tag({controller:"clientes", action: "formapago"}, method: "get") do %>
                  <div class="form-group">
                    <%= label "formapago",'Método de Pago:', class: "control-label" %><br />
                    <%= select_tag(:forma, options_for_select([["Banco",'banco'], ["Tarjeta",'tarjeta'],["Pago en tienda",'tienda']]),
                               { :class => 'form-control' }) %>
                  </div>
                  <div class="form-group">
                    <%#= text_field_tag(:texto) %>
                    <%= label "formapago",'Cantidad a recargar:', class: "control-label" %><br />
                    <%= select_tag(:cantidad, options_for_select([["$50 pesos",50], ["$100 pesos",100],["$200 pesos",200],["$500 pesos",500] ]),
                                   { :class => 'form-control' }) %>
                  </div>
                  <%= submit_tag("Recargar",{class:"btn btn-primary"}) %>
            <% end %>
            </div>
        </div>
    </section>                                  
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->