 <% provide(:title, @title) %>
 <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <%= render 'shared/user_sidebar' %> 
    </aside>
    <aside class="right-side">
    <section class="content-header">
        <h1>Perfil<small>Detalle</small></h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active">Perfil</li>
        </ol>
    </section>
    <section class="content">
        <div class="row-fluid">
            <div class="span12">
                <div class="span2">
                    <img src="/assets/Foodzy_Badges.png" class="img-circle" alt="User Image" />
                </div>
                <div class="span3">
                    <h3><%= @user.name %></h3>
                    <h4><%= @cliente.nivel.nombre %></h4>
                    <b><%= @cliente.puntaje %> puntos</b>
                    <p><%= @mensaje %></p>
                    </br>
                    <%= link_to "Comprar saldo", "/compracredito", class:"btn btn-default btn-flat" %>  
                    
                    <hr></hr>
                </div>
                <div class="span7">
                    <div class="row-fluid">
                        <%= render 'shared/user_stats' %>                               
                    </div>
                </div>

               
            </div>
            <div class="row-fluid">
                <div class="span9">
                    <%= render 'shared/user_viajes' %>
                    <%= render 'shared/user_prox_promo' %> 
                </div>
                <div class="span3">
                    <%= render 'shared/user_ultimas_medallas' %> 
                </div>
            </div>
        </div>
    </section>                                  
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->