
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places" %>
 <%= javascript_include_tag "busquedarutas" %>
<%= stylesheet_link_tag "rutas", media: "all" %>
<script>
$(document).ready(function(){
  $("#show").click(function(){
    var data={
     origenLat: $('#origenLat').val(),
     origenLng: $('#origenLng').val(),
     destinoLat: $('#destinoLat').val(),
     destinoLng: $('#destinoLng').val(),
     horainicio: $('#horainicio').val(),
     origenRuta: $('#origenRuta').val(),
     destinoRuta: $('#destinoRuta').val(),
     fechainicio: $('#diaViajeRuta').val()
    }

    $.post('/procesar_busqueda' , data, function(result){
                                $("#lista").html(result);
    }).success();
    $("#lista").show();
    $("#mapa").removeClass('span12');
    $("#mapa").addClass('span8');
    
  });
});
</script>

 <% provide(:title, @title) %>
 <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <%= render 'shared/user_sidebar' %> 
    </aside>
    <aside class="right-side">
    <section class="content-header">
        <h1>Buscar nuevo viaje</h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active">Viajes</li>
        </ol>
    </section>
    <section class="content">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <%= render 'shared/user_campos_busqueda', locals: {title: @title} %>
                </div>
            </div>
            <div class="row-fluid">
                    <div id="mapa" class="span12">
                        <div class="mapbox" id="map-canvas">
                        </div>
                    </div>
                    <div id="lista" class="span4" style="display:none">
                        
                    </div>
            </div>
        </div>
    </section>                                  
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->