 <% provide(:title, @title) %>
 <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <%= render 'shared/user_sidebar' %> 
    </aside>
    <aside class="right-side">
    <section class="content-header">
        <h1>Reservaciones</h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="active"><i class="fa fa-shopping-cart"></i> Mis Reservas</li>
        </ol>
    </section>
    <section class="content">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span12">
                        
                            
                            <% if @viajes==nil%>
                                <div class="msg-vacio">
                                    <h4><b>Aún no has reservado un viaje.</b></h4>
                                </div>
                            <% else %>
                            <div id="sugerenciaEnviada" style="display:none;" class="alert alert-info alert-dismissable"></div> </br>
                                <%= form_tag(controller:"clientes", action:"reservar_viajes", method:"post" ) do%>
                                <input type="text" style="display: none;" value="<%=@viajes.count%>" name="cantidad" >
                                <input type="text" style="display: none;" value="<%=@viajes.first.ruta.id%>" name="id" >
                            <% @viajes.each_with_index do |viaje, index| %>
                             <div class="item-ruta border">
                                     
                                    <div class="row-fluid">
                                        <div class="span2">
                                             <input type="text" name="viaje_<%=index%>" value="<%=@viajes[index].id%>" style="display:none;"> 
                                         <% if @disponibilidad[index]>0 %>   
                                            <input type="checkbox" name="check_viaje_<%=index%>" checked>
                                        <%end%>                                 
                                        </div>
                       
                                        <div class="span6">
                                            <label>Ruta:</label>&nbsp<a href="/ver_ruta/<%=viaje.ruta.id%>"><%=viaje.ruta.nombre%></a></br>
                                            <label>Fecha:</label>&nbsp<%=viaje.fecha.strftime("%d/%m/%Y")%>
                                            <label>Precio:</label>&nbsp<%=viaje.ruta.precio%>
                                            
                                        </div>
                                        <div class="span2">

                                            <% if @disponibilidad[index]>0 %>
                                                Sólo quedan <b><%=@disponibilidad[index]%></b> lugares
                                            <%else%>
                                                Ya no hay cupo en este viaje <a onclick="solicitarRuta(<%=viaje.id%>)"> Solicitar</a>
                                            <%end%>
                                        </div>
                                    
                                     
                                </div>
                            </div><!-- /.item ruta -->
                            <% end %><!--each reservación-->
                                </br>
                            <%= submit_tag("Comprar", :class => "btn btn-pagar btn-flat pull-right")%>
                                <%end%> <!--form-->

                        <% end %>

                    
                </div><!-- nav tabs custom -->
            </div>
        </div>
    </section>                                  
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->

<script type="text/javascript">
    function solicitarRuta(viaje_id){
        var data={
            id: viaje_id
        }

        $.post('/enviar_sugerencia' , data, function(result){
                 $("#sugerenciaEnviada").html(result);
    }).success();
        $('#sugerenciaEnviada').show();
    }

    function cerrar(){
        $('#sugerenciaEnviada').hide();
    }


</script>