

<% provide(:title, "Registro") %>
<div class="row-fluid">
  <div class="container">
    <div class="span6 offset3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    </br></br>
      <div class="alert alert-danger alert-dismissable">
          <i class="fa fa-ban"></i>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= devise_error_messages! %>
      </div>
      
      <div class="box-login">
                <h1>Registro</h1>
                <div class="box-body">
                    <div class="form-group">
                        <label>Nombre</label>
                            <%= f.text_field :name, class:"form-control", placeholder:"Tu Nombre" %>
                    </div>
                    <div class="form-group">
                        <label>Correo Electrónico</label>
                            <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"nombre@ejemplo.com" %>
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <% if @validatable %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
                    </div>
                    <div class="form-group">
                        <label>Confirmación de Contraseña</label>
                        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
                    </div>
                    <div class="box-footer">
                        <div class="actions">
                          <%= f.submit "Crear mi cuenta", class: "btn btn-flat btn-registro pull-right" %>
                        </div>
                        </br>
                        <hr></hr>
                    </div>
                </div><!-- /.box-body -->
                <% end %>
                <a class="btn btn-block btn-social btn-facebook" href="users/auth/facebook">
                    <i class="fa fa-facebook"></i> Regístrate con Facebook
                </a></br></br>
            </div>
                   
    </div>
  </div>
</div>

