<% exito ||= false %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#valorCondicion').keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and shift
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110,16]) !== -1 ||
                // Allow: Ctrl+A, CMD+A
                    (e.keyCode == 65 && e.ctrlKey === true) || (e.keyCode == 91 && e.keyCode == 65) ||
                // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Solamente números").show().fadeOut("slow");
                return false;
            }
        });
        $("#edit_configuracion_8").submit(function (event) {
            event.preventDefault();
            var request = $.ajax({
                type: "POST",
                url: '<%= "/cambiar_configuracion" %>',
                data: $(this).serialize()
            });
            request.done(function( msg ) {
                $("#tab_correoConfiguracion").html(msg);
            });
            request.fail(function( jqXHR, textStatus ) {
                alert(textStatus);
            });
            return false;
        });
    });
</script>
<h2 class="page-header">Recordatorios <small>Configuración de la cantidad de días en que se envían correos recordatorios a los usuarios.</small></h2>
<%= form_for @correoFrecuenciaRecordatorio, remote: true, :url => "/cambiar_configuracion", method: "POST" do |f| %>
    <%= f.hidden_field :id, :value => @correoFrecuenciaRecordatorio.id %>
    <% if @correoFrecuenciaRecordatorio.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <i class="fa fa-times"></i>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <b><%= pluralize(@correoFrecuenciaRecordatorio.errors.count, "error") %>:</b>
          <ul>
            <% @correoFrecuenciaRecordatorio.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <div class="form-group has-error">
              <%= f.text_field :valor,placeholder:'Cantidad de dias para enviar el correo recordatorio...', class: "form-control" %>
              <span id="errmsg" style="   color:red;"></span>
              <div class="callout callout-danger">
                <%= @correoFrecuenciaRecordatorio.errors[:valor] %>
              </div>
        </div>
    <% else %>
        <%  if exito %>
                <div class="alert alert-success alert-dismissable">
                  <i class="fa fa-check"></i>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <p>Se acutalizó el valor correctamente.</p>
                </div>
        <%  end %>
        <div class="form-group">
          <p>Frecuencia de envío de correos (días)</p>
          <%= f.text_field :valor, placeholder:'Cantidad de dias para enviar el correo recordatorio...', class:"form-control" %>
          <span id="errmsg" style="   color:red;"></span>
        </div>
    <% end %>
    <div align="right">
      <%= submit_tag("Guardar",id:"btnSubmit",class:"btn btn-primary") %>
    </div>
<% end %>