<% disabled ||= false %>
<% exito ||= false %>
<% create ||= false %>

<%= form_for @medalla,  :url => "/medalla_controller/#{@action}", :html => { :multipart => true }, :remote => true do |f| %>
    </br>
    <%  if exito %>
        <div class="alert alert-success alert-dismissable">
          <i class="fa fa-check"></i>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <% if @action=='create' %>
              <p>Se creó la medalla correctamente.</p>
          <% else%>
              <p>Se actualizó la medalla correctamente.</p>
          <% end%>
        </div>
    <%  end %>
    <% if @medalla.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <i class="fa fa-times"></i>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <b><%= pluralize(@medalla.errors.count, "error") %>:</b>
          <ul>
            <% @medalla.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.hidden_field :id, :value => @medalla.id%>

      </p>
      <div class="form-group">
        <label>Nombre</label>
        <div class="row-fluid">
          <%= f.text_field :nombre, class:"form-control span12" %>
        </div>
      </div>
      <div class="form-group">
        <label>Descripción</label>
        <div class="row-fluid">
          <%= f.text_field :descripcion, class:"form-control span12" %>
        </div>
      </div>
      <div class="form-group">
        <label>Puntos que asigna</label>
        <div class="row-fluid">
          <%= f.number_field :puntos, in: 1.. 1000000, class:"form-control span12" %>
        </div>
      </div>
      <div class="form-group">
        <label>Estado (Cantidad de viajes, retros, etc)</label>
        <div class="row-fluid">
          <%= f.number_field :estado, in: 1.. 1000000, class:"form-control span12" %>
        </div>
      </div>
      <div class="form-group">
        <label>Tipo de medalla</label>
        <div class="row-fluid">
          <%= f.collection_select :tipomedalla_id, Tipomedalla.all, :id, :nombre, class:"form-control span12" %>
        </div>
      </div>

      <div class="form-group">
        <label>Imagen</label>

        <div class="row-fluid"> 
          <p class="help-block">Selecciona una imagen 150 x 150</p>
          <input type='file' onchange="readURL(this);" name="imagenmedalla" id="imagenmedalla"/></br>
          <% if @action=='create' or @medalla.imagen.blank? %>
            <img id="img_prev" src="#" alt="medalla" style="display:none;"/>
          <%end%>
        </div>
        <% if @action=='update' and !@medalla.imagen.blank? %>
        <img id="img_prev" src="/assets/medals/<%=@medalla.imagen%>" alt="medalla"/>
         
        <%end%>
    </div>
  
    <hr>
    <div class="actions" align="right">
      <button id="btnSubmit" class="btn btn-success">
        <i class="fa fa-save"></i>  Guardar
      </button>
      <script type="text/javascript" charset="utf-8">

        function readURL(input) {
        if (input.files && input.files[0]) {
          $('#img_prev').show();
         // formData.append("imagenmedalla", input.files[0]);
         // $('#imagenmedalla').val(input.files[0]);
        var reader = new FileReader();

        reader.onload = function (e) {
        $('#img_prev')
        .attr('src', e.target.result)
        .width(150)
        .height(150);
        
        };

        reader.readAsDataURL(input.files[0]);
        }
        }

        function getBase64Image(img, type) {
            // Create an empty canvas element
            var canvas = document.createElement("canvas");
            canvas.width = 315;
            canvas.height = 315;

            // Copy the image contents to the canvas
            var ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0);

            // Get the data-URL formatted image
            // Firefox supports PNG and JPEG. You could check img.src to
            // guess the original format, but be aware the using "image/jpg"
            // will re-encode the image.
            var dataURL = canvas.toDataURL(type);

            return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
        }

            $("form").submit(function (event) {
                event.preventDefault();
                if ($("#imagenmedalla")[0].files[0]){
                  b64_data = getBase64Image(img_prev, $("#imagenmedalla")[0].files[0].type);
                } else {
                  b64_data = null;
                }
                
               // formData.append("imagenmedalla",  $( '#imagenmedalla' )[0].files[0]);
        //      alert(binary_data);
          //      formData.append($(this).serialize());
                var d_data = {
                  id : $("#medalla_id").val(),
                  nombre: $("#medalla_nombre").val(),
                  descripcion: $("#medalla_descripcion").val(),
                  puntos: $("#medalla_puntos").val(),
                  estado: $("#medalla_estado").val(),
                  tipomedalla_id: $("#medalla_tipomedalla_id").val(),
                  base64data: b64_data,
                  imagenmedalla: $("#imagenmedalla")[0].files[0]
                };

               //  d_data = JSON.parse(d_data);
                var request = $.ajax({
                    type: "POST",
                    cache: false,
                    contentType: "application/json", //;   multipart/form-data; charset=utf-8;",
                    processData: false,
                    url: '<%= "/medalla_controller/#{@action}" %>',
                    data: JSON.stringify(d_data), //$(this).serialize(),
                    success:function(data){
                        console.log("success");
                        console.log(data);
                    },
                    error: function(data){
                        console.log("error");
                        console.log(data);
                    }
                });
                request.done(function( msg ) {
                    <% if @action == 'create' %>
                        $("#modal-body #forma_detalle_medalla").html(msg);
                    <% else %>
                        $("#forma_detalle_medalla").html(msg);
                    <% end %>
                });
                request.fail(function( jqXHR, textStatus ) {
                    alert(textStatus);
                });
                $('#medallasTableContainer').jtable('reload');
                return false;
            });
      </script>
    </div>

<% end %>
