<% disabled ||= false %>
<% exito ||= false %>
<% create ||= false %>
<%= form_for @medalla,  :url => "/medalla_controller/#{@action}", :html =>{:multipart => true} do |f| %>
    </br>
    <%  if exito %>
        <div class="alert alert-success alert-dismissable">
          <i class="fa fa-check"></i>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <% if @action=='create' %>
              <p>Se creó la medalla correctamente.</p>
          <% else%>
              <p>Se actualizó la medalla correctamente.</p>
          <% end%>
        </div>
    <%  end %>
    <% if @medalla.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <i class="fa fa-times"></i>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <b><%= pluralize(@medalla.errors.count, "error") %>:</b>
          <ul>
            <% @medalla.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.hidden_field :id, :value => @medalla.id%>

      </p>
      <div class="form-group">
        <label>Nombre</label>
        <div class="row-fluid">
          <%= f.text_field :nombre, class:"form-control span12" %>
        </div>
      </div>
      <div class="form-group">
        <label>Descripción</label>
        <div class="row-fluid">
          <%= f.text_field :descripcion, class:"form-control span12" %>
        </div>
      </div>
      <div class="form-group">
        <label>Puntos que asigna</label>
        <div class="row-fluid">
          <%= f.number_field :puntos, in: 1.. 1000000, class:"form-control span12" %>
        </div>
      </div>
      <div class="form-group">
        <label>Estado (Cantidad de viajes, retros, etc)</label>
        <div class="row-fluid">
          <%= f.number_field :estado, in: 1.. 1000000, class:"form-control span12" %>
        </div>
      </div>
      <div class="form-group">
        <label>Tipo de medalla</label>
        <div class="row-fluid">
          <%= f.number_field :tipomedalla_id, in: 1.. 10, class:"form-control span12" %>
        </div>
      </div>

      <div class="form-group">
        <label>ImagenMedalla</label>

        <div class="row-fluid"> 
            <%= f.file_field :imagenmedalla%>
  
        </div>
        <% if @action=='update' %>
        
        <%= image_tag(@medalla.imagenmedalla.url) %>
        <%end%>
    </div>
  
    <hr>
    <div class="actions" align="right">
      <button id="btnSubmit" class="btn btn-success">
        <i class="fa fa-save"></i>  Guardar
      </button>
      <script type="text/javascript" charset="utf-8">
       
            $("form").submit(function (event) {
                event.preventDefault();
                var request = $.ajax({
                    type: "POST",
                    url: '<%= "/medalla_controller/#{@action}" %>',
                    data: $(this).serialize()
                });
                request.done(function( msg ) {
                    <% if @action == 'create' %>
                        $("#modal-body #forma_detalle_medalla").html(msg);
                    <% else %>
                        $("#forma_detalle_medalla").html(msg);
                    <% end %>
                });
                request.fail(function( jqXHR, textStatus ) {
                    alert(textStatus);
                });
                $('#medallasTableContainer').jtable('reload');
                return false;
            });
      </script>
    </div>
<% end %>
