 <% provide(:title, @title) %>
 <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <%= render 'shared/administrador_sidebar' %> 
    </aside>
    <aside class="right-side">
    <section class="content-header">
        <h1>Reportes<small>Detalle</small></h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="/listareportes"><i class="fa fa-user"></i> Reportes</a></li>
            <li class="active">Reportes</li>
        </ol>
    </section>
    <section class="content">
            <div class="row-fluid">
               <% @reportes.each do |reporte| %>

                <div class="span4" style="margin:5px" >
                    <div class="box box-solid">
                     <div class="item" style="padding:10px">
                        <p class="message">
                        <a href="mailto:<%= reporte.cliente.user.email %>" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> <%= reporte.created_at %></small>
                        <%= reporte.cliente.user.name %>
                        </a>
                        <%= reporte.descripcion %>
                        <br>
                        </p>  
                        </div><!-- /.item -->
                     </div>
                   </div>     
                <%end%>
    </section>                                  
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->