<p id="notice"><%= notice %></p>

<p>
  <b>Nombreusuario:</b>
  <%= @administrador.nombreUsuario %>
</p>

<p>
  <b>Emailusuario:</b>
  <%= @administrador.emailUsuario %>
</p>

<p>
  <b>Idtipousuario:</b>
  <%= @administrador.idTipoUsuario %>
</p>

<p>
  <b>Facebookidusuario:</b>
  <%= @administrador.facebookidUsuario %>
</p>

<p>
  <b>Openpayidusuario:</b>
  <%= @administrador.openpayidUsuario %>
</p>

<p>
  <b>Nombrepilausuario:</b>
  <%= @administrador.nombrePilaUsuario %>
</p>

<p>
  <b>Apellidopaterno:</b>
  <%= @administrador.apellidoPaterno %>
</p>

<p>
  <b>Apellidomaterno:</b>
  <%= @administrador.apellidoMaterno %>
</p>

<p>
  <b>Fechanacimiento:</b>
  <%= @administrador.fechaNacimiento %>
</p>

<p>
  <b>Estatususuario:</b>
  <%= @administrador.estatusUsuario %>
</p>


<%= link_to 'Edit', edit_administrador_path(@administrador) %> |
<%= link_to 'Back', administradors_path %>
