<% provide(:title, 'Inicio') %>
<div class="wrapper row-offcanvas row-offcanvas-left">
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="left-side sidebar-offcanvas">
    <%= render 'shared/administrador_sidebar' %>
  </aside>

  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="row-fluid">
            <div class="row-fluid">
                <div class="span9">
                  <%= pie_chart Medalla.group(:tipomedalla_id).count %>

                  <%= render 'shared/administrador_stats_box' %>
                  <%= render 'shared/administrador_stats_leaderboard' %> 
                </div>
                <div class="span3">
                    <%= render 'shared/administrador_stats_general' %> 
                    <%= render 'shared/administrador_stats_leaderboard' %> 
                </div>
            </div>
        </div>
    </section>     

  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->

