<% provide(:title, 'Sugerencias') %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp" %>
<%= stylesheet_link_tag "rutas", media: "all" %>
<%= javascript_include_tag "sugerencias.js.coffee" %>

<script type="text/javascript">

</script>
<div class="wrapper row-offcanvas row-offcanvas-left">
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="left-side sidebar-offcanvas">
    <%= render 'shared/administrador_sidebar' %>
  </aside>

  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <i class="fa fa-fw fa-inbox"></i>
        Sugerencias
      </h1>
      <ol class="breadcrumb">
        <li >Inicio</li>
        <li class="active">Sugerencias</li>
      </ol>
    </section>



    <!-- Main content -->
    <section class="content">


      <div class="row-fluid">
              <div class="col-md-6">
                        <div id="mensaje"></div>
                        
                        <div id="sugerencias"><%= render partial: "shared/show_sugerencias" %></div>
                          </br>
                    </div><!--columna-->
                    <div class= "col-md-6">
                      <div id="detalleSugerencia" style="display:none;"></div>
                    </div> <!--column-->


      </div><!--row fluid-->
      

   

        <br/>
      <hr>

      <br />

     
    </section>

  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->


<script type="text/javascript">

// $(function(){
//  // $('#sugerencias').html('<%= render partial: "shared/show_sugerencias" %>');

// $('.pagination').on('click', 'a', function(event) {
//       $("#sugerencias").html($.get(this.href, null, null, "script"));
//       event.preventDefault();
//     });
    
// });


  function mostrarDetalle(sug_id, cercanas){
    var data={
     sugerencia_id: sug_id,
     resultado: cercanas
    };
    $.get('/administrador_detallesugerencia/', data, function(result){
                            $("#detalleSugerencia").html(result);
                        }).success();
                        $("#detalleSugerencia").show('fast');
                      
  }

  function borrarSugerencia(sug_id, cercanas){
    var data={
     sugerencia_id: sug_id,
     cercanas_id: cercanas
    };
    $.post('/borrar_sugerencia/', data, function(result){
              $("#mensaje").html(result);
                        }).success();
  // 
   $("#mensaje").show('fast');
   location.reload();
    // $.get('/mostrar_sugerencias', null, function(result){
    //   $("#sugerencias").html(result);
    //                     }).success();  
}

</script>