<ul class="nav nav-tabs pull-right">
  <li class="active"><a href="#tab_1-1" data-toggle="tab">Detalle de la Van</a></li>
  
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab_1-1">
    <div id="forma_detalle_conductor">
      <h2>Van</h2>
      <%= form_for @van do |f| %>
      
      <% if @van.errors.any? %>
          <div id="error_explanation">
            <h2>No se pudo grabar por</h2>
            <ul>
              <% @van.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <p>
        <%= f.text_field :id, style: 'display: none' %>
      </p>

      <p>
        <%= f.label :placa %>
        <%= f.text_field :placa %>
      </p>

      <p>
        <%= f.label :modelo %>
        <%= f.text_field :modelo %>
      </p>

      <p>
        <%= f.label :capacidad %>
        <%= f.number_field :capacidad, in: 1 .. 20 %>
      </p>

      <p>
        <%= f.label :pais %>
        <%= f.collection_select :pais_id, Pais.all, :id, :nombre %>
      </p>

      <p>
        <%= f.label :fecha_compra %>
        <%= f.text_field :fecha_compra %>
      </p>

      <p>
        <%= f.submit "Editar" %>
      </p>
    <%end%>
    </div>
    <div class="row" align=" right">
      <button class="btn btn-default"><i class="fa fa-fw fa-info"></i> Ver M&aacute;s</button>
    </div>
  </div><!-- /.tab-pane -->
  


</div><!-- /.tab-content -->