<table class="table table-bordered">
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>Número de rutas</td>
    <td><%=num_rutas%></td>
  </tr>
  <tr>
    <td>Número de viajes realizados</td>
    <td><%=num_viajes_realizados%></td>
  </tr>
  <tr>
    <td>Número de viajes pendientes</td>
    <td><%=num_viajes_pendientes%></td>
  </tr>
  <tr>
    <td>Número de viajes cancelados</td>
    <td><%=num_viajes_cancelados%></td>
  </tr>
  <tr>
    <td>Número de reservas canceladas</td>
    <td><%=num_reservas_canceladas%></td>
  </tr>
  <tr>
    <td>Número de reservas vendidas</td>
    <td><%=num_reservas_vendidas%></td>
  </tr>
  <tr>
    <td>Ventas mensuales promedio</td>
    <td><%=ventas_mensuales%></td>
  </tr>
  <tr>
    <td>La ruta más popular</td>
    <td><%=ruta_popular%></td>
  </tr>
    <tr>
    <td>Número de vans activas</td>
    <td><%=num_vans_activas%></td>
  </tr>
  <tr>
    <td>Número de vans inactivas</td>
    <td><%=num_vans_inactivas%></td>
  </tr>
  <tr>
</table>