<div class="box box-success">
  <div class="box-header">
    <h1 class="box-title">Retroalimentación general</h1>
  </div><!-- /.box-header -->
  <%= render 'shared/administrador_feedback_graph' %>
    <table class="table table-bordered table-striped">
       <tr>
        <th rowspan="2" style="padding-top:20px"><center><b>Aspecto</b></center></th>
        <th colspan="4"><center>Frecuencia de respuesta</center></th>
        <th rowspan="2" style="padding-top:20px"><center><b>Promedio</b></center></th>
      </tr>
      <tr>
        <th><center>Malo</center></th>
        <th><center>Regular</center></th>
        <th><center>Bueno</center></th>
        <th><center>Excelente</center></th>
      </tr>
      <% @aspectos.each do |aspecto| %>
      <tr>
        <td><%= Retroaspecto.find(aspecto.id).nombre %></td>
        <td><center><%= Retroalimentacion.where(:aspecto_id => aspecto.id, :calificacion =>1).count%></center></td>
        <td><center><%= Retroalimentacion.where(:aspecto_id => aspecto.id, :calificacion =>2).count%></center></td>
        <td><center><%= Retroalimentacion.where(:aspecto_id => aspecto.id, :calificacion =>3).count%></center></td>
        <td><center><%= Retroalimentacion.where(:aspecto_id => aspecto.id, :calificacion =>4).count%><center></td>
        <td><center><b><%= number_with_precision(Retroalimentacion.where(:aspecto_id => aspecto.id).average(:calificacion).to_s,:precision => 2) %></b></center></td>
      </tr>
      <% end %>                          
      </table>
  </div><!-- /.box -->

