<% @rutas.each do |ruta| %>
<div class="span6">
<h4><%=ruta.nombre%></h4>
<table class="table table-bordered">
  <tr>
    <th>aspecto</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>promedio</th>
  </tr>
  <% @aspectos.each do |aspecto| %>
  <tr>
    <td><%= Retroaspecto.find(aspecto.id).nombre %></td>
    <td><%= @retrosjoin.where(:rutas =>{:id=>ruta.id},:retroalimentacions=>{:calificacion=>1}).where(:retroalimentacions=>{:aspecto_id=>aspecto.id}).count%></td>

    <td><%= @retrosjoin.where(:rutas =>{:id=>ruta.id},:retroalimentacions=>{:calificacion=>2}).where(:retroalimentacions=>{:aspecto_id=>aspecto.id}).count%></td>

    <td><%= @retrosjoin.where(:rutas =>{:id=>ruta.id},:retroalimentacions=>{:calificacion=>3}).where(:retroalimentacions=>{:aspecto_id=>aspecto.id}).count%></td>

    <td><%= @retrosjoin.where(:rutas =>{:id=>ruta.id},:retroalimentacions=>{:calificacion=>4}).where(:retroalimentacions=>{:aspecto_id=>aspecto.id}).count%></td>

    <td><%= @retrosjoin.where(:rutas =>{:id=>ruta.id},:retroalimentacions=>{:aspecto_id=>aspecto.id}).average(:calificacion).to_s %></td>
  </tr>
  <% end %>
</table>
</div>
<% end %>
