
<header class="header">
    <a href="<%=root_path%>" class="logo">
    <img src="/assets/logo.png" class="img" alt="logo Image" />
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="registro" >
                    <a href="/buscar">Buscar nuevo viaje</a>
                </li>
                <li>
                    <a href="/compracredito"><i class="fa fa-money"></i>
                      <b><%=number_to_currency(obtener_cuenta["balance"], :precision => 2)%> pesos</b>
                    </a>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span><%= current_user.name %><i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="col-xs-6 text-center ">
                                <i class="fa fa-trophy"></i>
                                <b><%= @cliente.puntaje %></b>
                                <a href="#">Puntos</a>
                                </br>
                                <b><%= @cliente.nivel.nombre %></b>
                                </br>
                            </div>
                            <div class="col-xs-6 text-center ">
                                <i class="fa fa-money"></i>
                                <a href="#"><b><%=number_to_currency(obtener_cuenta["balance"], :precision => 2)%></b></a>
                                <a href="#">Pesos</a>
                                </br>
                                <a class="call-to" href="/compracredito">Comprar saldo</a>
                            </div>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/dashboard" class="btn btn-default btn-flat"><i class="fa fa-eye"></i> Ver Perfil</a>
                            </div>
                            <div class="pull-right">
                                <%= button_to('Cerrar Sesión', destroy_user_session_path, :method => :delete, class:"btn btn-default btn-flat") %>
                                <li> </li>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

