

<% 10.times do |count|%>
    	<div class="input-group">
          <span class="input-group-addon" id="letras_<%=count%>" style="<%= 'display: none' if count>2%>"><%=@letras[count]%></span>
            <input type="text" id="nombreParada_<%=count%>"  name="nombreParada_<%=count%>" class="form-control" autocomplete="off" style="<%= 'display: none' if count>2%>">
         </div>
    		<input id="latitudParada_<%=count%>" name="latitudParada_<%=count%>" style="display: none" > </input>
	        <input id="longitudParada_<%=count%>" name="longitudParada_<%=count%>" style="display: none"> </input>
	        <input id="posicionParada_<%=count%>" name="posicionParada_<%=count%>" style="display: none"> </input>
	        <input id="tiempoParada_<%=count%>" name="tiempoParada_<%=count%>" style="display: none"> </input>
	        <input id="distanciaParada_<%=count%>" name="distanciaParada_<%=count%>" style="display: none"> </input>
    </br>
<%end%>
