         </section>

          <script type="text/javascript">

          $(function() {
                //Datemask dd/mm/yyyy
                $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});

                //Timepicker
                $(".timepicker").timepicker({
                    showInputs: false
                });
            });

    
</script>


        <section class="content">
        <div id="map-canvas">
        </div>
        </br>

         <div class="col-md-6">

            <%= form_tag(controller:"rutas", action:"create", method:"post" ) do%>
            
            <% if @ruta.errors.any? %>
                <div class="alert alert-danger alert-dismissable">
                  <i class="fa fa-times"></i>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  
                  <ul>
                    <% @ruta.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

                <div class="form-group">
                    <label for="nombreRuta">Nombre</label>
                    <input  class="form-control" name="nombreRuta" placeholder="Nombre de la Ruta">
                </div>

                <div class="form-group">
                    <label for="precioRuta">Precio</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input  class="form-control" name="precio" placeholder="Precio">
                    </div>
                </div>

                <div class="form-group">
                    <label for="zonaRuta">Zona</label>
                        <%= collection_select(:ruta, :zona_id, Zona.all(:order => 'nombre'), :id, :nombre, { :prompt =>nil}, :class => "form-control" ) %>
                </div>

                <div class="bootstrap-timepicker">
                    <div class="form-group">
                      <label for="horario">Hora de Inicio</label>
                        <div class="input-group">
                        <span class="input-group-addon"><i class="fa  fa-clock-o"></i></span>
                        
                            <input type="text" id="horarioRuta" name="horarioRuta" class="form-control timepicker">
                        
                        </div> <!-- input-group -->
                    </div>  <!-- form group -->
              </div><!-- /.timepicker -->



            <div class="form-group">
                
                    <label>Frecuencia</label>
                    <div class="input-group">
                    

                        <table class="table">
                            <tr>
                                <td><input type="checkbox" name="lunes" ></td>
                                <td><input type="checkbox" name="martes"></td>
                                <td><input type="checkbox" name="miercoles"></td>
                                <td><input type="checkbox" name="jueves"></td>
                                <td><input type="checkbox" name="viernes"></td>
                                <td><input type="checkbox" name="sabado"></td>
                                <td><input type="checkbox" name="domingo"></td>
                            </tr>
                            <tr>
                                <td>L</td>
                                <td>M</td>
                                <td>Mie</td>
                                <td>J</td>
                                <td>V</td>
                                <td>S</td>
                                <td>D</td>
                            </tr>
                        </table>
                    
                    </div>
            </div><!-- /.form group frecuencia -->

            <div class="form-group ">
                <label for="conductorRuta">Conductor</label>
                    <div class="user-panel bg-gray">
                    <div class="pull-left image">
                            <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="pull-left info">
                        <b>Id </b>
                        <%= text_field_tag("conductorId", nil, :style => "background-color:rgba(0, 0, 0, 0); border:none")   %> 
                         </br>
                        <b>Nombre: </b>
                        <input id ="conductorNombre" disabled style="background-color:rgba(0, 0, 0, 0); border:none"></input> </br>
                        <b>Licencia: </b>
                        <input id ="conductorLicencia" disabled style="background-color:rgba(0, 0, 0, 0); border:none"></input> </br></br>
                        <button type="button" class="btn btn-buscar-nav btn-flat pull-left" data-toggle="modal" data-target="#conductorsModal">Escoger</button>
                    </div>
                     
                    </div>
            </div>

            <div class="form-group ">
                <label for="vanRuta">Van</label>
                    <div class="user-panel bg-gray">
                        <div class="pull-left image">
                            <i class="fa fa-truck fa-3x"></i>
                        </div>
                        <div class="pull-left info">
                            
                            <b>Id: </b>
                            <%= text_field_tag("vanId", nil, :style => "background-color:rgba(0, 0, 0, 0); border:none") %> </br>
                            <b>Placa: </b>
                            <input id ="vanPlaca" disabled style="background-color:rgba(0, 0, 0, 0); border:none"></input> </br>
                            <b>Modelo: </b>
                            <input id ="vanModelo" disabled style="background-color:rgba(0, 0, 0, 0); border:none"></input></br></br>
                            <button type="button" class="btn btn-buscar-nav btn-flat pull-left" data-toggle="modal" data-target="#myModal">Escoger</button>
                           
                        </div>
                    </div>
            </div>

            </div><!--div class column6-->

            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Traza la ruta</h3>
                        
                    </div><!-- /.box-header -->

                        

                    <!-- Paradas -->
                    <div id = "Paradas" class="box-body">
                        <%=render 'shared/paradas_form_count' %>
                        

                    </div>



                <p></p>



                </div><!-- /.box-body -->
                <%= submit_tag("Guardar", :class => "btn btn-success")%>
             <% end %>
        
             </div><!-- /.box -->

            
                




     
             
        

         </div><!--div class column6-->

    
 <%= render 'shared/modal_vans' %>
  <%= render 'shared/modal_conductors' %>


<script type="text/javascript">
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

</script>