         </section>

          <script type="text/javascript">

          $(function() {
                //Datemask dd/mm/yyyy
                $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});

                //Timepicker
                $(".timepicker").timepicker({
                    showInputs: false
                });
            });
 function masParadas(){
    contador+=1;
    /*
    $("#Paradas").append("<input  class='form-control' id='nombreParada_"+contador+"'  name='nombreParada_"+contador+"' size='25'> </input>"+
                            "<input  class='form-control' id='latitudParada_"+contador+"' name='latitudParada_"+contador+"'  > </input>"+
                        "<input  class='form-control' id='longitudParada_"+contador+"' name='longitudParada_"+contador+"' > </input>"+
                        "<input  class='form-control' id='posicionParada_"+contador+"' name='posicionParada_"+contador+"' style='display: none'> </input>"+
                        "<input  class='form-control' id='tiempoParada_"+contador+"' name='tiempoParada_"+contador+"' style='display: none'> </input>"+
                        "<input  class='form-control' id='distanciaParada_"+contador+"' name='distanciaParada_"+contador+"' style='display: none'> </input>"+
                        "<input type='button' value='Buscar' onclick='geocodeMarcador()'>");*/
    //<%= text_field_tag("vanId") %>
    $("#Paradas2").html('<%= render :partial => "paradas_form" %>');
    document.getElementById("numeroParadas").value = contador;

 
   
    

}

    function unhideParadas(countParadas){
        $( "#nombreParada_"+countParadas).show();
        var c = parseInt($("#numeroParadas").val())+1;
        $("#numeroParadas").val(c);
    }
</script>


        <section class="content">
        <div id="map-canvas">
        </div>
        </br>

         <div class="col-md-6">

            <%= form_tag(controller:"rutas", action:"create", method:"post" ) do%>
            
            <% if @ruta.errors.any? %>
                <div class="alert alert-danger alert-dismissable">
                  <i class="fa fa-times"></i>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  
                  <ul>
                    <% @ruta.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

                <div class="form-group">
                    <label for="nombreRuta">Nombre</label>
                    <input  class="form-control" name="nombreRuta" placeholder="Nombre de la Ruta">
                </div>

                <div class="form-group">
                  <label for="origen">Origen</label>
                  <input  class="form-control" id="origenRuta" placeholder="Origen">
                </div>
                <div class="form-group">
                  <label for="destino">Destino</label>
                  <input  class="form-control" id="destinoRuta" placeholder="Destino">
                </div>

                <div class="form-group">
                    <label for="precioRuta">Precio</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input  class="form-control" name="precio" placeholder="Precio">
                    </div>
                </div>

                <div class="form-group">
                    <label for="precioRuta">Zona</label>
                    <div class="input-group">
                        <%= collection_select(:ruta, :zona_id, Zona.all(:order => 'nombre'), :id, :nombre, { :prompt => 'Zona' }, :class => "form-control" ) %>
                    </div>
                </div>

                <div class="bootstrap-timepicker">
                    <div class="form-group">
                      <label for="horario">Hora de Inicio</label>
                        <div class="input-group">
                        <span class="input-group-addon"><i class="fa  fa-clock-o"></i></span>
                        
                            <input type="text" id="horarioRuta" name="horarioRuta" class="form-control timepicker">
                        
                        </div> <!-- input-group -->
                    </div>  <!-- form group -->
              </div><!-- /.timepicker -->



            <div class="form-group">
                
                    <label>Frecuencia:</label>
                    <div class="input-group">
                    

                        <table class="table">
                            <tr>
                                <td><input type="checkbox" name="lunes" ></td>
                                <td><input type="checkbox" name="martes"></td>
                                <td><input type="checkbox" name="miercoles"></td>
                                <td><input type="checkbox" name="jueves"></td>
                                <td><input type="checkbox" name="viernes"></td>
                                <td><input type="checkbox" name="sabado"></td>
                                <td><input type="checkbox" name="domingo"></td>
                            </tr>
                            <tr>
                                <td>L</td>
                                <td>M</td>
                                <td>Mie</td>
                                <td>J</td>
                                <td>V</td>
                                <td>S</td>
                                <td>D</td>
                            </tr>
                        </table>
                    
                    </div>
            </div><!-- /.form group frecuencia -->

            <div class="form-group ">
                <label for="conductorRuta">Conductor</label>
                    <div class="user-panel bg-gray">
                    <div class="pull-left image">
                        <img src="../img/avatar3.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <b>Id </b>
                        <%= text_field_tag("conductorId", nil, :style => "background-color:rgba(0, 0, 0, 0); border:none")   %> 
                         </br>
                        <b>Nombre: </b>
                        <input id ="conductorNombre" disabled style="background-color:rgba(0, 0, 0, 0); border:none"></input> </br>
                        <br>
                        <b>Licencia: </b>
                        <input id ="conductorLicencia" disabled style="background-color:rgba(0, 0, 0, 0); border:none"></input> </br>
                       
                       <button type="button" class="btn btn-flat btn-default pull-right" data-toggle="modal" data-target="#conductorsModal">Escoger Conductor</button>
                    </div>
                     
                    </div>
            </div>

            <div class="form-group ">
                <label for="vanRuta">Van</label>
                    <div class="user-panel bg-gray">
                        <div class="pull-left image">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="pull-left info">
                            
                            <b>Id: </b>
                            <%= text_field_tag("vanId", nil, :style => "background-color:rgba(0, 0, 0, 0); border:none") %> </br>
                            <b>Placa: </b>
                            <input id ="vanPlaca" disabled style="background-color:rgba(0, 0, 0, 0); border:none"></input> </br>
                            <b>Modelo: </b>
                            <input id ="vanModelo" disabled style="background-color:rgba(0, 0, 0, 0); border:none"></input></br>

                            <button type="button" class="btn btn-flat btn-default pull-right" data-toggle="modal" data-target="#myModal">Escoger Van</button>
                           
                        </div>
                    </div>
            </div>

            </div><!--div class column6-->

            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Traza la ruta</h3>
                        
                    </div><!-- /.box-header -->

                        

                    <!-- Paradas -->
                    <div id = "Paradas">
                        <% count = 0 %>
                        <input  class="form-control" id="idParada_<%=count%>" name="idParada_<%=count%>" style="display: none" > </input>
                        <div class="paradatype">
                            <input id="nombreParada_<%=count%>" name="nombreParada_<%=count%>" class="typeahead" type="text" placeholder="Parada" autocomplete="off" spellcheck="false"></input>
                        </div>
                        <input  class="form-control" id="latitudParada_<%=count%>" name="latitudParada_<%=count%>" style="display: none" > </input>
                        <input  class="form-control" id="longitudParada_<%=count%>" name="longitudParada_<%=count%>" style="display: none"> </input>
                        <input  class="form-control" id="posicionParada_<%=count%>" name="posicionParada_<%=count%>" style="display: none"> </input>
                        <input  class="form-control" id="tiempoParada_<%=count%>" name="tiempoParada_<%=count%>" style="display: none"> </input>
                        <input  class="form-control" id="distanciaParada_<%=count%>" name="distanciaParada_<%=count%>" style="display: none"> </input>
                        <input type="button" value="Buscar" onclick="geocodeMarcador()">

                        <% count += 1 %>
                        <input  class="form-control" id="idParada_<%=count%>" name="idParada_<%=count%>" style="display: none" > </input>
                        <input  class="form-control" id="nombreParada_<%=count%>"  name="nombreParada_<%=count%>" size="25"> </input>
                        <input  class="form-control" id="latitudParada_<%=count%>" name="latitudParada_<%=count%>" style="display: none" > </input>
                        <input  class="form-control" id="longitudParada_<%=count%>" name="longitudParada_<%=count%>" style="display: none" > </input>
                        <input  class="form-control" id="posicionParada_<%=count%>" name="posicionParada_<%=count%>" style="display: none"> </input>
                        <input  class="form-control" id="tiempoParada_<%=count%>" name="tiempoParada_<%=count%>" style="display: none"> </input>
                        <input  class="form-control" id="distanciaParada_<%=count%>" name="distanciaParada_<%=count%>" style="display: none"> </input>
                        <input type="button" value="Buscar" onclick="geocodeMarcador()">

                        <% count += 1 %>
                        <input  class="form-control" id="idParada_<%=count%>" name="idParada_<%=count%>" style="display: none" > </input>
                        <input  class="form-control" id="nombreParada_<%=count%>"  name="nombreParada_<%=count%>" size="25" style="display:none"> </input>
                        <input  class="form-control" id="latitudParada_<%=count%>" name="latitudParada_<%=count%>" style="display: none" > </input>
                        <input  class="form-control" id="longitudParada_<%=count%>" name="longitudParada_<%=count%>" style="display: none" > </input>
                        <input  class="form-control" id="posicionParada_<%=count%>" name="posicionParada_<%=count%>" style="display: none"> </input>
                        <input  class="form-control" id="tiempoParada_<%=count%>" name="tiempoParada_<%=count%>" style="display: none"> </input>
                        <input  class="form-control" id="distanciaParada_<%=count%>" name="distanciaParada_<%=count%>" style="display: none"> </input>
                        <input type="button" value="Buscar" onclick="geocodeMarcador()">

                    </div>

                    <div id="Paradas2"></div>




                    <input id="numeroParadas" name="numeroParadas" placeholder="NUm" value ="1" style="display: none"> </input>
                    <%= link_to "Mas Paradas", '#', onclick: "unhideParadas(#{count});" %>

                

                <p></p>



                </div><!-- /.box-body -->
                <%= submit_tag("Guardar", :class => "btn btn-success")%>
             <% end %>
        
             </div><!-- /.box -->

            
                




     
             
        

         </div><!--div class column6-->

    
 <%= render 'shared/modal_vans' %>
  <%= render 'shared/modal_conductors' %>


<script type="text/javascript">

$(document).ready(function(){

  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;

      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          // the typeahead jQuery plugin expects suggestions to a
          // JavaScript object, refer to typeahead docs for more info
          matches.push({ value: str });
        }
      });

      cb(matches);
    };
  };


  var paradas= <%= raw @nombres_paradas.to_json %>

  $('.typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'states',
    displayKey: 'value',
    source: substringMatcher(paradas)
  });

}); 

//;

</script>