<script type="text/javascript">
   $(function() {
                //Datemask dd/mm/yyyy
                $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});

                //Timepicker
                $(".timepicker").timepicker({
                    showInputs: false
                });
            });
   $(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
   </script>

        <section class="content">
        <div id="map-canvas">
        </div>
        </br>

         <div class="col-md-6">

            <%= form_tag(controller:"rutas", action:"actualizar") do%>
            
            <% if @ruta.errors.any? %>
                <div class="alert alert-danger alert-dismissable">
                  <i class="fa fa-times"></i>
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  
                  <ul>
                    <% @ruta.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

                <div class="form-group">
                    <label for="nombreRuta">Nombre</label>
                    <input  class="form-control" name="nombreRuta" placeholder="Nombre de la Ruta"  value="<%= @ruta.nombre %>">
                </div>

                <div class="form-group">
                  <label for="origen">Origen</label>
                  <input  class="form-control" id="origenRuta" placeholder="Origen"  value="<%= @paradas_ruta.first.nombre %>">
                </div>
                <div class="form-group">
                  <label for="destino">Destino</label>
                  <input  class="form-control" id="destinoRuta" placeholder="Destino"  value="<%= @paradas_ruta.last.nombre %>">
                </div>

                <div class="form-group">
                    <label for="precioRuta">Precio Por Viaje</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input  class="form-control" name="precio" placeholder="Precio" value="<%= @ruta.precio %>">
                    </div>
                </div>

                <div class="form-group">
                    <label for="precioRuta">Zona</label>
                        <%= collection_select(:ruta, :zona_id, Zona.all(:order => 'nombre'), :id, :nombre, { :selected => @ruta.zona_id }, :class => "form-control" ) %>
                </div>

                <div class="bootstrap-timepicker">
                    <div class="form-group">
                      <label for="horario">Hora de Inicio</label>
                        <div class="input-group">
                        <span class="input-group-addon"><i class="fa  fa-clock-o"></i></span>
                            <% horario = @ruta.horario.hora.strftime("%I:%M %p") %>
                            <input type="text" id="horarioRuta" name="horarioRuta" class="form-control timepicker"  value="<%= horario %>">
                        
                        </div> <!-- input-group -->
                    </div>  <!-- form group -->
              </div><!-- /.timepicker -->



            <div class="form-group">
                
                    <label>Frecuencia:</label>
                    <div class="input-group">
                    

                        <table class="table">
                            <tr>
                                <td>
                                    <% if @ruta.frecuencia.lunes %>
                                    <input type="checkbox" class="icheckbox_minimal" name="lunes" checked>
                                    <%else%>
                                    <input type="checkbox" class="icheckbox_minimal" name="lunes">
                                    <%end%>
                                </td>
                                <td>
                                    <% if @ruta.frecuencia.martes %>
                                    <input type="checkbox" class="icheckbox_minimal" name="martes" checked>
                                    <%else%>
                                    <input type="checkbox" class="icheckbox_minimal" name="martes">
                                    <%end%>
                                </td>
                                <td>
                                    <% if @ruta.frecuencia.miercoles %>
                                    <input type="checkbox" class="icheckbox_minimal" name="miercoles" checked>
                                    <%else%>
                                    <input type="checkbox" class="icheckbox_minimal" name="miercoles">
                                    <%end%>
                                </td>
                                <td>
                                    <% if @ruta.frecuencia.jueves %>
                                    <input type="checkbox" class="icheckbox_minimal" name="jueves" checked>
                                    <%else%>
                                    <input type="checkbox" class="icheckbox_minimal" name="jueves">
                                    <%end%>
                                </td>
                                <td>
                                    <% if @ruta.frecuencia.viernes %>
                                    <input type="checkbox" name="viernes" checked>
                                    <%else%>
                                    <input type="checkbox" name="viernes">
                                    <%end%>
                                </td>
                                <td><% if @ruta.frecuencia.sabado %>
                                    <input type="checkbox" name="sabado" checked>
                                    <%else%>
                                    <input type="checkbox" name="sabado">
                                    <%end%>
                                </td>
                                <td><% if @ruta.frecuencia.domingo %>
                                    <input type="checkbox" name="domingo" checked>
                                    <%else%>
                                    <input type="checkbox" name="domingo">
                                    <%end%>
                                </td>
                            </tr>
                            <tr>
                                <td>L</td>
                                <td>M</td>
                                <td>Mie</td>
                                <td>J</td>
                                <td>V</td>
                                <td>S</td>
                                <td>D</td>
                            </tr>
                        </table>
                    
                    </div>
            </div><!-- /.form group frecuencia -->

            <div class="form-group ">
                <label for="conductorRuta">Conductor</label>
                    <div class="user-panel bg-gray">
                    <div class="pull-left image">
                            <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="pull-left info">
                        <b>Id </b>
                        <%= text_field_tag("conductorId", @ruta.conductor.id, :style => "background-color:rgba(0, 0, 0, 0); border:none")   %> 
                         </br>
                        <b>Nombre: </b>
                        <input id ="conductorNombre" disabled style="background-color:rgba(0, 0, 0, 0); border:none"  value="<%= @ruta.conductor.user.name %>" ></input> </br>
                        <br>
                        <b>Licencia: </b>
                        <input id ="conductorLicencia" disabled style="background-color:rgba(0, 0, 0, 0); border:none"  value="<%= @ruta.conductor.licenciaConductor %>"></input> </br> </br>
                       <button type="button" class="btn btn-buscar-nav btn-flat pull-left" data-toggle="modal" data-target="#conductorsModal">Cambiar Conductor</button>
                       
                    </div>
                     
                    </div>
            </div>

            <div class="form-group ">
                <label for="vanRuta">Van</label>
                    <div class="user-panel bg-gray">
                        <div class="pull-left image">
                            <i class="fa fa-truck fa-3x"></i>
                        </div>
                        <div class="pull-left info">
                            
                            <b>Id: </b>
                            <%= text_field_tag("vanId", @ruta.van.id, :style => "background-color:rgba(0, 0, 0, 0); border:none") %> </br>
                            <b>Placa: </b>
                            <input id ="vanPlaca" disabled style="background-color:rgba(0, 0, 0, 0); border:none"  value="<%= @ruta.van.placa %>"></input> </br>
                            <b>Modelo: </b>
                            <input id ="vanModelo" disabled style="background-color:rgba(0, 0, 0, 0); border:none"  value="<%= @ruta.van.modelo %>"></input></br> </br>
                            <button type="button" class="btn btn-buscar-nav btn-flat pull-left" data-toggle="modal" data-target="#myModal">Cambiar Van</button>
                           
                        </div>
                    </div>
            </div>

            </div><!--div class column6-->

            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Traza la ruta</h3>
                        
                    </div><!-- /.box-header -->

                        

                    <!-- Paradas -->
                    <div id = "Paradas" class="box-body">
                        <% @paradas_ruta.each_with_index do |parada, count| %>
                        <div class="input-group">
                          <span class="input-group-addon"><%=@letras[count]%></span>
                            <input type="text" id="nombreParada_<%=count%>"  name="nombreParada_<%=count%>" class="form-control" autocomplete="off" value="<%= parada.nombre %>">
                         </div>
                            <input id="latitudParada_<%=count%>" name="latitudParada_<%=count%>" value="<%=parada.latitud%>" style="display: none" > </input>
                            <input  id="longitudParada_<%=count%>" name="longitudParada_<%=count%>" value ="<%=parada.longitud%>" style="display: none"> </input>
                            <input  id="posicionParada_<%=count%>" name="posicionParada_<%=count%>" value="<%=@rel[count].posicion%>" style="display: none"> </input>
                            <input  id="tiempoParada_<%=count%>" name="tiempoParada_<%=count%>" value="<%=@rel[count].tiempo%>" style="display: none"> </input>
                            <input  id="distanciaParada_<%=count%>" name="distanciaParada_<%=count%>" value="<%=@rel[count].distancia%>" style="display: none"> </input>
                            </br>
                        <% end %>

                        <% (10-@paradas_ruta.count).times do |index| %>
                            <% i = @paradas_ruta.count+index%>
                            <div class="input-group">
                              <span class="input-group-addon"><%=@letras[i]%></span>
                                <input type="text" id="nombreParada_<%=i%>"  name="nombreParada_<%=i%>" class="form-control" autocomplete="off">
                             </div>
                                <input id="latitudParada_<%=i%>" name="latitudParada_<%=i%>" style="display: none" > </input>
                                <input id="longitudParada_<%=i%>" name="longitudParada_<%=i%>" style="display: none"> </input>
                                <input id="posicionParada_<%=i%>" name="posicionParada_<%=i%>" style="display: none"> </input>
                                <input id="tiempoParada_<%=i%>" name="tiempoParada_<%=i%>" style="display: none"> </input>
                                <input id="distanciaParada_<%=i%>" name="distanciaParada_<%=i%>" style="display: none"> </input>
                        </br>
                        <% end %>

                    </div>




                    <input id="numeroParadas" name="numeroParadas" placeholder="NUm" value ="<%=@ruta.paradas.count%>" style="display:none;"> </input>

                

                <p></p>
            </div>

                <%= submit_tag("Editar", :class => "btn btn-success")%>

             </div><!-- /.box -->

            
                
             <% end %>
        




     
             
        

         </div><!--div class column6-->

    
 <%= render 'shared/modal_vans' %>
  <%= render 'shared/modal_conductors' %>
         </div>

         

		  </section>






