<div class="box">
    <div class="box-header">
        <i class="fa fa-trophy"></i>
        <h3 class="box-title">Tabla de líderes</h3>
    </div>
    <div class="side">
    

<% if current_user.provider %>
       <h4>Amigos</h4>
       <% @friends.each do |friend| %>
       <h5><%= friend["name"] %></h5>
       <% end%>
       
  <% else%>
          <table class="table">
            <tr>
            <th>Cliente</th>
            <th>Puntos</th>
            </tr>
            <% @top.each do |cliente| %>
            <tr>
            <td><%=cliente.user.name%></td>
            <td><%=cliente.puntaje%></td>
            </tr>
            <% end %>
            <tr>
            <td><b><%=@current_cliente.user.name%></b></td>
            <td><b><%=@current_cliente.puntaje%></b></td>
            </tr>
            <% @bot.each do |cliente| %>
            <tr>
            <td><%=cliente.user.name%></td>
            <td><%=cliente.puntaje%></td>
            </tr>
            <% end %>
          </table>
  <% end%>
</div>
</div>
