<% if(@result.first!=nil)%>
 <table>
 <% @result.in_groups_of(3).each do |result_array| %>
    <tr>
        <% result_array.each do |ruta| %>
            <%if !ruta.nil? %>
            <td>
            <div class="item-ruta border" style="position: relative; height: 400px;">
                <div class="row-fluid">
                    <h4><%=ruta.nombre%></h4>
                
                    <small>ORIGEN:</small><b>&nbsp;<%= ruta.paradas.order('posicion ASC').first.nombre.split(",")[0] %></b></br>
                    <small>DESTINO:</small><b>&nbsp;<%= ruta.paradas.order('posicion ASC').last.nombre.split(",")[0] %></b></br>

                    </br>
                    <small>HORA DE SALIDA:</small><b>&nbsp;<%=ruta.horario.hora.strftime("%I:%M%p")%> </b></br>
                    <small>HORA DE LLEGADA:</small><b>&nbsp;<%=(ruta.horario.hora+ ruta.paradas.sum(:tiempo).to_i).strftime("%I:%M%p")%></b></br>
                    <small>Precio:</small><b>&nbsp;<%=number_to_currency(ruta.precio, :unit => "$")%></b>
                
                </div>
            <div>

                </br><small>DÍAS EN QUE PASA LA RUTA</small>
                    <table class="table">
                            <tr>
                                <td>
                                    <% if ruta.frecuencia.lunes %>
                                    <input type="checkbox" class="icheckbox_minimal" name="lunes" checked>
                                    <%else%>
                                    <input type="checkbox" class="icheckbox_minimal" name="lunes">
                                    <%end%>
                                </td>
                                <td>
                                    <% if ruta.frecuencia.martes %>
                                    <input type="checkbox" class="icheckbox_minimal" name="martes" checked>
                                    <%else%>
                                    <input type="checkbox" class="icheckbox_minimal" name="martes" disabled>
                                    <%end%>
                                </td>
                                <td>
                                    <% if ruta.frecuencia.miercoles %>
                                    <input type="checkbox" class="icheckbox_minimal" name="miercoles" checked>
                                    <%else%>
                                    <input type="checkbox" class="icheckbox_minimal" name="miercoles">
                                    <%end%>
                                </td>
                                <td>
                                    <% if ruta.frecuencia.jueves %>
                                    <input type="checkbox" class="icheckbox_minimal" name="jueves" checked>
                                    <%else%>
                                    <input type="checkbox" class="icheckbox_minimal" name="jueves">
                                    <%end%>
                                </td>
                                <td>
                                    <% if ruta.frecuencia.viernes %>
                                    <input type="checkbox" class="icheckbox_minimal" name="viernes" checked>
                                    <%else%>
                                    <input type="checkbox" class="icheckbox_minimal" name="viernes">
                                    <%end%>
                                </td>
                                <td><% if ruta.frecuencia.sabado %>
                                    <input type="checkbox" class="icheckbox_minimal" name="sabado" checked>
                                    <%else%>
                                    <input type="checkbox" class="icheckbox_minimal" name="sabado">
                                    <%end%>
                                </td>
                                <td><% if ruta.frecuencia.domingo %>
                                    <input type="checkbox" class="icheckbox_minimal" name="domingo" checked>
                                    <%else%>
                                    <input type="checkbox" class="icheckbox_minimal" name="domingo">
                                    <%end%>
                                </td>
                            </tr>
                            <tr>
                                <td>L</td>
                                <td>M</td>
                                <td>Mie</td>
                                <td>J</td>
                                <td>V</td>
                                <td>S</td>
                                <td>D</td>
                            </tr>
                        </table>
                    </div>
            </br>
                <div class="row-fluid" style ="position: absolute; bottom: 20px;">
                 <!--#<%= link_to "Ver detalle", "#", onclick: "mostrarDetalle(#{ruta.id});", class:"btn btn-buscar-nav btn-flat span5 pull-right", style:"margin-right: 26px;" %>-->
                <%= link_to "Comprar", "/ver_ruta/#{ruta.id}", class: "btn btn-buscar-nav btn-flat span5 pull-right", style:"margin-right: 26px;" %>
                </div>
            
            </div><!-- /.item -->
        </td>
            <%end%>
        
        <% end %></tr>
    
    <% end %></table>
      <% else %>
        <div class="item-ruta border">
            <h2>No hay rutas en esta zona.</h2>
        </div>
<% end %>

 <script type="text/javascript">


  function mostrarDetalle(r_id){
    var data={
     ruta_id: r_id
    };
    $.get('/cliente_detalleruta/', data, function(result){
                            $("#detalleRuta").html(result);
                        }).success();
                        $("#detalleRuta").show('fast');
                      
  }
</script>
