<div class="box box-primary">
        <%= form_tag(controller: "reservacions", action: "retro", method: "get", class: "nifty_form") do %>
    		<%= hidden_field_tag(:reservacion_id, @reservacion) %>
  			<table class="table table-striped">
                <thead>
                                <tr>
                                    <td></td>
                                    <td>Excelente</td>
                                    <td>Bueno</td>
                                    <td>Regular</td>
                                    <td>Malo</td>
                                </tr>
                            </thead>
                <tbody>
				<% @aspectos.each do |aspecto| %>
  				<tr>
    			<td><%= aspecto.nombre%></td>
    			<td><%= radio_button_tag(aspecto.id,4) %>
        			
            	</td>
    			<td><%= radio_button_tag(aspecto.id,3) %>
        			
            	</td>
    			<td><%= radio_button_tag(aspecto.id,2) %>
        			
            	</td>
    			<td><%= radio_button_tag(aspecto.id,1) %>
        			
            	</td>   
				<% end %>
  				</tr>
                </tbody>
			</table>
        <br>    
</div>
    <%= link_to 'Regresar', dashboard_path, class:"btn btn-large btn-flat " %>
    <%= submit_tag("Enviar Evaluación", class:"btn btn-large btn-primary btn-flat pull-right" ) %>
<% end %>