
<div class="border green">
<h3 class="nomargin">Rutas que coinciden contigo</h3>
</div>
<% if(@result.first!=nil)%>
        <% @result.each do |ruta| %>
            <div class="item-ruta border">
            <div class="row-fluid">
                <div class="span6">
                    <h4><%=ruta.nombre%></h4>
                    <small>ORIGEN:</small><b><%= ruta.paradas.order('posicion ASC').first.nombre.split(",")[0] %></b></br>
                    <small>DESTINO:</small><b><%= ruta.paradas.order('posicion ASC').last.nombre.split(",")[0] %></b></br>
                    
                </div>
                <div class="span6">
                    </br>
                    </br>
                    <small>HORA SALIDA:</small><b><%=ruta.horario.hora.strftime("%I:%M%p")%> </b></br>
                    <small>HORA LLEGADA:</small><b><%=(ruta.horario.hora+ ruta.paradas.sum(:tiempo).to_i).strftime("%I:%M%p")%></b></br>
                    <small>Precio:</small><b><%=number_to_currency(ruta.precio, :unit => "$")%></b>
                </div>
                </div>
            </br>
                <div class="row-fluid"><!--"/viajes/#{ruta.id}/detalle"-->
                 <%= link_to "Ver detalle", "/ver_ruta/#{ruta.id}", class:"btn btn-buscar-nav btn-flat span5 pull-right" %>
                 <% paradas=  ruta.paradas.to_json %>
                <%= link_to "Ver en Mapa", '#', onclick: "trazarRuta(#{paradas});", class: " span5" %>
                </div>
            
            </div><!-- /.item -->
    <% end %>
      <% else %>
        <div class="item-ruta border">
            <h2>No hay rutas compatibles con tu viaje.</h2>
        </div>
    <% end %>


 <script type="text/javascript">

$(function() {
            directionsDisplay.setMap(null);
            });
 function trazarRuta(paradas){
  google.maps.event.trigger(map, 'resize');
    var arregloMarcadores= paradas;
    var origen = arregloMarcadores[0].latitud+", "+arregloMarcadores[0].longitud;
    
    var destino = arregloMarcadores[arregloMarcadores.length-1].latitud+", "+arregloMarcadores[arregloMarcadores.length-1].longitud;
    var arregloParadas=[];

        if(arregloMarcadores.length>2){

          for(i= 1; i<arregloMarcadores.length-1;i++){
            var posicionParada = arregloMarcadores[i].latitud+", "+arregloMarcadores[i].longitud;
            arregloParadas.push({
                              location: posicionParada,
                              stopover: true
                            });
            
          }

        }

        //optimize waypoints for admin false, for client will be true
        var request = {
          origin: origen,
          destination: destino,
          waypoints: arregloParadas,
          travelMode: google.maps.DirectionsTravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC,
          optimizeWaypoints: false
        }

        directionsService = new google.maps.DirectionsService();
        var rutaa= directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            var lineSymbol = {
              path: google.maps.SymbolPath.FORWARD_OPEN_ARROW
            };


            var renderOptions = { 
              map: map,
              draggable: false,
              polylineOptions: {
                  strokeWeight: 4,
                  strokeOpacity: 0.8,
                  strokeColor: '#D84743',
                  icons: [{
                    icon: lineSymbol,
                    offset: '25%'
                  }, {icon: lineSymbol,
                    offset: '75%'
                  }]
              }
            };
            directionsDisplay.setOptions(renderOptions);
            directionsDisplay.setDirections(response);
            var routeDrawn = response.routes[0];
                 
          }
          else
            alert ('no se pudo obtener direcciones');
        });

        

  }
</script>
