<div id="sugerenciaEnviada" style="display:none;" class="alert alert-info alert-dismissable">
    
</div>

<div class="border green">
<h3 class="nomargin">Viajes de la Ruta</h3>
</div>


    <% if @viajes.first != nil %>
        <%= form_tag(controller:"clientes", action:"reservar_viajes", method:"post" ) do%>
        <input type="text" style="display: none;" value="<%=@viajes.count%>" name="cantidad" >
        <input type="text" style="display: none;" value="<%=@viajes.first.ruta.id%>" name="id" >
            <%@viajes.each_with_index do |viaje, index| %>
            <div class="item-ruta border">
                <div class="row-fluid">
                    <div class="span4">
                        <small>FECHA:</small><b><%= viaje.fecha.strftime("%d/%m/%Y") %></b></br>
                        <input type="text" name="viaje_<%=index%>" value="<%=@viajes[index].id%>" style="display:none;">
                    </div>
                    <div class="span4">
                        <%if @disponibilidad[index]>0%>
                                <input type="checkbox" name="check_viaje_<%=index%>" checked>
                        <%else%>
                            Este viaje va lleno
                                <a onclick="solicitarRuta(<%=viaje.id%>)"> Solicitar</a>
                        <%end%>
                    </div>
                </div>
                    </br>
            </div   ><!-- /.item -->

            <%end%>
            <%if signed_in? %>
                <%= submit_tag("Comprar", :class => "btn btn-pagar btn-flat pull-right")%>
            <%else%>
                <button data-toggle="modal" data-target="#regitro-modal">Comprar</button>
            <%end%>
        <%end%>
    <%else%>
    <div class="item-ruta border">
        <h2>No hay viajes disponibles en esta ruta.</h2>
    </div><!-- /.item -->
    <%end%>

<script type="text/javascript">
    function solicitarRuta(viaje_id){
        var data={
            id: viaje_id
        }

        $.post('/enviar_sugerencia' , data, function(result){
                 $("#sugerenciaEnviada").html(result);
    }).success();
        $('#sugerenciaEnviada').show();
    }

    function cerrar(){
        $('#sugerenciaEnviada').hide();
    }


</script>