<div class="box box-success">
    <div class="box-header">
        <i class="fa fa-road"></i>
        <h3 class="box-title">Viajes Realizados</h3>
    </div>
    <div class="box-body">
        
        <% if @validaviajes==false then %>
        <div class="msg-vacio">
            <h4><b>Aún no tienes viajes realizados</b></h4>
            (Mensaje de la empresa)
        </div>
    <% else %>
        <% @reservaciones_realizadas.each do |reservacion| %>
            <div class="item">
        <div class="row-fluid">
            <div class="span6">
                <label>Ruta:</label><%=reservacion.viaje.ruta.nombre%>
                <label>Fecha:</label><%=reservacion.viaje.fecha.strftime("%d/%m/%Y")%> </br>
                 <%salida = reservacion.viaje.ruta.paradas.order('posicion ASC').first.nombre.split(",")%> 
                <label>Lugar de salida:</label>&nbsp<%=salida[0]%>
                <label>Hora de salida:</label>&nbsp<%=reservacion.viaje.horainicio.strftime("%I:%M%p")%> </br>
                <%llegada = reservacion.viaje.ruta.paradas.order('posicion ASC').last.nombre.split(",")%>
                <label>Lugar de llegada:</label>&nbsp<%=llegada[0]%>
                <label>Hora de llegada:</label>&nbsp<%=(reservacion.viaje.horainicio+ reservacion.viaje.ruta.paradas.sum(:tiempo).to_i).strftime("%I:%M%p")%></br>
            </div>
            <div class="span6">
                <%= link_to "Ver detalle", "/ver_ruta/#{reservacion.viaje.ruta.id}", class:"btn btn-default btn-flat" %>
                <% if existe_retroalimentacion(reservacion)==false then %>
                <%= link_to "Evaluar", "reservacions/#{reservacion.id}/retroalimentacion", class:"btn btn-success btn-flat" %>
                <% end %>
            </div>
        </div>
    </div><!-- /.item -->
<hr></hr>
        <% end %>
    <% end %>
    </div><!-- /.boxbody -->
</div><!-- /.box --> 