

<%= form_for :van, url:vans_path do |f| %>


	<p>
		<%= f.label :placa %>
		<%= f.text_field :placa %>
	</p>

	<p>
		<%= f.label :modelo %>
		<%= f.text_field :modelo,  class: "form-control" %>
	</p>

	<p>
		<%= f.label :capacidad %>
		<%= f.number_field :capacidad, in: 1 .. 20 %>
	</p>

	<p>
		<%= f.label :pais %>
		<%= f.collection_select :pais_id, Pais.all, :id, :nombre %>
	</p>

	<p>
		<%= f.label :fecha_compra %>
		<%= f.text_field :fecha_compra,  class: "form-control" %>
	</p>

	<p>
		<%= f.submit "Guardar", class: "btn btn-success" %>
	</p>
<%end%>