

<%= form_for :van, url:vans_path do |ff| %>


	<p>
		<%= ff.label :placa %>
		<%= ff.text_field :placa %>
	</p>

	<p>
		<%= ff.label :modelo %>
		<%= ff.text_field :modelo,  class: "form-control" %>
	</p>

	<p>
		<%= ff.label :capacidad %>
		<%= ff.number_field :capacidad, in: 1 .. 20 %>
	</p>

	<p>
		<%= ff.label :pais %>
		<%= ff.collection_select :pais_id, Pais.all, :id, :nombre %>
	</p>

	<p>
		<%= ff.label :fecha_compra %>
		<%= ff.text_field :fecha_compra,  class: "form-control" %>
	</p>

	<p>
		<%= ff.submit "Guardar", class: "btn btn-success" %>
	</p>
<%end%>