

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp" %>
<%= javascript_include_tag "rutas" %>

<%= stylesheet_link_tag "rutas", media: "all" %>
<%= javascript_include_tag "plugins/timepicker/bootstrap-timepicker.min" %>


<div class="wrapper row-offcanvas row-offcanvas-left">

	<aside class="left-side sidebar-offcanvas">
        
    </aside>

    <aside class="right-side">
    	<section class="content-header">
                    <h1>
                        Nueva Ruta
                    </h1>
                    <ol class="breadcrumb">
                    	<li>Rutas</li>
                        <li class="active">Nueva Ruta</li>
                    </ol>
         </section>

		<section class="content">
		<div id="map-canvas">
		</div>
        </br>

		 <div class="col-md-6">

            <%= form_for @ruta, url:rutas_path do |ruta_form| %>
    		 	<div class="form-group">
                    <label for="nombreRuta">Nombre</label>
                    <%= ruta_form.text_field :nombre %>
                </div>

    		  	<div class="form-group">
    		      <label for="origen">Origen</label>
    		      <input  class="form-control" id="origenRuta" placeholder="Origen">
    		    </div>
    		    <div class="form-group">
    		      <label for="destino">Destino</label>
    		      <input  class="form-control" id="destinoRuta" placeholder="Destino">
    		    </div>

    		    <div class="form-group">
                    <label for="precioRuta">Precio</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <%= ruta_form.text_field :precio %>
                    </div>
                </div>

            

            <div class="bootstrap-timepicker">
                <div class="form-group">
                    <%= ruta_form.fields_for :viajes do |viaje_fields| %>
                          Hora de Inicio <%= viaje_fields.text_field :horainicio, html: {class: "form-control timepicker"} %>
                    <% end %>
                </div><!-- /.form group -->
                    
            </div>

            <div class="form-group">
                <%= ruta_form.fields_for :frecuencia do |frecuencia_fields| %>
                    <label>Frecuencia:</label>
                    <div class="input-group">
                    

                        <table class="table">
                            <tr>
                                <td><%= frecuencia_fields.check_box :lunes %></td>
                                <td><%= frecuencia_fields.check_box :martes %></td>
                                <td><%= frecuencia_fields.check_box :miercoles %></td>
                                <td><%= frecuencia_fields.check_box :jueves %></td>
                                <td><%= frecuencia_fields.check_box :viernes %></td>
                                <td><%= frecuencia_fields.check_box :sabado %></td>
                            </tr>
                            <tr>
                                <td><%= frecuencia_fields.label "L" %></td>
                                <td><%= frecuencia_fields.label  "M" %></td>
                                <td><%= frecuencia_fields.label  "Mie" %></td>
                                <td><%= frecuencia_fields.label "J"%></td>
                                <td><%= frecuencia_fields.label  "V" %></td>
                                <td><%= frecuencia_fields.label "S" %></td>
                            </tr>
                        </table>
                    
                    </div>
                <% end %>
            </div><!-- /.form group frecuencia -->

            <div class="form-group ">
                <label for="conductorRuta">Conductor</label>
                    <div class="user-panel bg-gray">
                    <div class="pull-left image">
                        <img src="../img/avatar3.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <b>Nombre: </b>Luis Rodríguez
                        <br>
                        <b>Licencia: </b>XKG-19383
                       
                    </div>
                     <button type="submit" class="btn btn-flat btn-default pull-right">Agregar</button>
                    </div>
            </div>

            <!-- <div class="form-group ">
                <%= ruta_form.fields_for :van do |vans_fields| %>
                <label for="vanRuta">Van</label>
                    <div class="user-panel bg-gray">
                        <div class="pull-left image">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="pull-left info">
                           <%= vans_fields.collection_select :van, Van.all, :id, :placa %>
                           
                        </div>
                    </div>
                <%end%>
            </div> -->



		    <input id="latitud_label">Latitud</label>
		    <input id="longitud_label">Logitud</label>

		  </br>
		    <textarea id="textoArea" rows="4" cols="50">
		    </textarea>
		 </div><!--div class column6-->


         <%= ruta_form.submit "Guardar", class: "btn btn-flat btn-success pull-right" %>
         <%end%>

		  </section>
	</aside>


</div>