

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp" %>
<%= javascript_include_tag "rutas" %>

<%= stylesheet_link_tag "rutas", media: "all" %>
<%= javascript_include_tag "plugins/timepicker/bootstrap-timepicker.min" %>

<% provide(:title, 'Nueva Ruta') %>
<div class="wrapper row-offcanvas row-offcanvas-left">

	<aside class="left-side sidebar-offcanvas">
        <%= render 'shared/administrador_sidebar' %>
    </aside>

    <aside class="right-side">
    	<section class="content-header">
                    <h1>
                        Nueva Ruta
                    </h1>
                    <ol class="breadcrumb">
                    	<li>Rutas</li>
                        <li class="active">Nueva Ruta</li>
                    </ol>

                    <%= render 'shared/ruta_form' %>
    </aside>


</div>