<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp" %>
<%= javascript_include_tag "mapa" %>
<%= stylesheet_link_tag "rutas", media: "all" %>

<% provide(:title, 'Ruta') %>
<div class="wrapper row-offcanvas row-offcanvas-left">

	<aside class="left-side sidebar-offcanvas">
        <%= render 'shared/administrador_sidebar' %>
    </aside>

    <aside class="right-side">
    	<section class="content-header">
                    <h1>
                        Ruta
                    </h1>
                    <ol class="breadcrumb">
                    	<li>Rutas</li>
                        <li class="active"><%= @ruta.nombre %></li>
                    </ol>
         </section>

		<%= render 'shared/show_ruta_form' %>
	</aside>


</div>


<script type="text/javascript">




   function trazarRuta(){
   	var arregloMarcadores= <%= raw @paradas_ruta.to_json %>;
    var origen = arregloMarcadores[0].latitud+", "+arregloMarcadores[0].longitud;
    var destino = arregloMarcadores[arregloMarcadores.length-1].latitud+", "+arregloMarcadores[arregloMarcadores.length-1].longitud;
    var arregloParadas=[];

        if(arregloMarcadores.length>2){

          for(i= 1; i<arregloMarcadores.length-1;i++){
            var posicionParada = arregloMarcadores[i].latitud+", "+arregloMarcadores[i].longitud;
            arregloParadas.push({
                              location: posicionParada,
                              stopover: true
                            });
            
          }

        }

        //optimize waypoints for admin false, for client will be true
        var request = {
          origin: origen,
          destination: destino,
          waypoints: arregloParadas,
          travelMode: google.maps.DirectionsTravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC,
          optimizeWaypoints: false
        }

        directionsService = new google.maps.DirectionsService();
        var rutaa= directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            var routeDrawn = response.routes[0];
                 
          }
          else
            alert ('no se pudo obtener direcciones');
        });

        

  }
  </script>