<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp" %>
 
<%= stylesheet_link_tag "rutas", media: "all" %>
 <% provide(:title, @title) %>
 <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        <%= render 'shared/user_sidebar' %> 
    </aside>
    <aside class="right-side">
    <section class="content-header">
        <h1>Ruta<small>Detalle</small></h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-home"></i> Inicio</a></li>
            <li><a href="/buscar"><i class="fa fa-user"></i>Búsqueda</a></li>
            <li class="active">Detalle de ruta</li>
        </ol>
    </section>
     <section class="content">

                    <!-- Main content -->
                <div class="form-group">
                        <h2 class="page-header">
                        Ruta <%= @viaje.ruta.nombre %> 
                        </h2>
                </div>
                <div class="row-fluid">
                <div class="span12">
                    
                            <div class="span4">
                                <div class="span6">
                                    <small>PARADA ORIGEN:</small>
                                <h4><%= @viaje.ruta.paradas.order('posicion ASC').first.nombre %> <a href="#">Cambiar</a></h4>
                                <small>PARADA DESTINO:</small>
                                <h4><%= @viaje.ruta.paradas.order('posicion ASC').last.nombre %><a href="#">Cambiar</a></h4>

                                
                                </div>

                                <div class="span6">
                                     <small>FECHA:</small>
                                <h4><%= @viaje.fecha%> <a href="#">Cambiar</a></h4>
                                <small>HORA DE SALIDA:</small>
                                <h4><%=(Time.now).strftime("%I:%M%p")%> <a href="#">Cambiar</a></h4>
                                <small>HORA DE LLEGADA:</small>
                                <h4><%=(Time.now + @viaje.ruta.paradas.sum(:tiempo).to_i).strftime("%I:%M%p")%></h4>
                                <small>PRECIO:</small>
                                <h4><%=number_to_currency(@viaje.ruta.precio, :unit => "$")%></h4>
                                </br>
                                
                                </div>
                                <div class="row-fluid">
                                    <%= link_to "Buscar otra ruta", "/buscar", class:"btn btn-buscar-nav btn-flat" %>
                                    <%= link_to "Comprar viaje", "/compra", class:"btn btn-pagar-l btn-flat pull-right" %>
                                </div>
                            </div>
                               
                            <div class="span8">
                            <div class="mapbox" id="map-canvas"></div>
                            </div> 
                </div>
                
            </div>
            </section>                                  
      </div>

                </section>                              
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->


<script type="text/javascript">
var map;
var arregloMarcadores = [];
var geocoder = new google.maps.Geocoder();
var infowindow = new google.maps.InfoWindow();
var dir;


function initialize() {
    
        //set up del mapa, zoom, centro
      var mapOptions = {
        zoom: 13
      };
    
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    var lineSymbol = {
      path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
    };


    var rendererOptions = { 
      map: map,
      draggable: false,
      polylineOptions: {
          strokeWeight: 4,
          strokeOpacity: 0.8,
          strokeColor: '#D84743',
          icons: [{
            icon: lineSymbol,
            offset: '100%'
          }]
      }
    };


                    
                    
                   

    directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
    trazarRuta();
    
}

  google.maps.event.addDomListener(window, 'load', initialize);



   function trazarRuta(){
    var arregloMarcadores= <%= raw @viaje.ruta.paradas.to_json %>;
    var origen = arregloMarcadores[0].latitud+", "+arregloMarcadores[0].longitud;
    var destino = arregloMarcadores[arregloMarcadores.length-1].latitud+", "+arregloMarcadores[arregloMarcadores.length-1].longitud;
    var arregloParadas=[];

        if(arregloMarcadores.length>2){

          for(i= 1; i<arregloMarcadores.length-1;i++){
            var posicionParada = arregloMarcadores[i].latitud+", "+arregloMarcadores[i].longitud;
            arregloParadas.push({
                              location: posicionParada,
                              stopover: true
                            });
            
          }

        }

        //optimize waypoints for admin false, for client will be true
        var request = {
          origin: origen,
          destination: destino,
          waypoints: arregloParadas,
          travelMode: google.maps.DirectionsTravelMode.DRIVING,
          unitSystem: google.maps.UnitSystem.METRIC,
          optimizeWaypoints: false
        }

        directionsService = new google.maps.DirectionsService();
        var rutaa= directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            var routeDrawn = response.routes[0];
                 
          }
          else
            alert ('no se pudo obtener direcciones');
        });

        

  }
  </script>