<%= form_for(@retroaspecto) do |f| %>
  <% if @retroaspecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retroaspecto.errors.count, "error") %> prohibited this retroaspecto from being saved:</h2>

      <ul>
      <% @retroaspecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :estatus %><br />
    <%= f.check_box :estatus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
