<%= form_for(@reservacion) do |f| %>
  <% if @reservacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservacion.errors.count, "error") %> prohibited this reservacion from being saved:</h2>

      <ul>
      <% @reservacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :viaje_id %><br />
    <%= f.number_field :viaje_id %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br />
    <%= f.number_field :cliente_id %>
  </div>
  <div class="field">
    <%= f.label :referenciapago_id %><br />
    <%= f.number_field :referenciapago_id %>
  </div>
  <div class="field">
    <%= f.label :estadotipo_id %><br />
    <%= f.number_field :estadotipo_id %>
  </div>
  <div class="field">
    <%= f.label :estatus %><br />
    <%= f.check_box :estatus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
