	<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag "bootstrap.min", media: "all" %>
  <%= stylesheet_link_tag "bootstrap-responsive", media: "all" %>
  <%= stylesheet_link_tag "font-awesome.min", media: "all" %>
  <%= stylesheet_link_tag "ionicons.min", media: "all" %>
  <%= stylesheet_link_tag "AdminLTE", media: "all" %>
  <%= stylesheet_link_tag "vanpool", media: "all" %>
  <%= stylesheet_link_tag "timepicker/bootstrap-timepicker", media: "all" %>
  <%= stylesheet_link_tag "application", media: "all" %>





  <%= javascript_include_tag "bootstrap/jquery" %>
  <%= javascript_include_tag "bootstrap/bootstrap" %>
  
  <%= javascript_include_tag "plugins/input-mask/jquery.inputmask" %>
  <%= javascript_include_tag "plugins/input-mask/jquery.inputmask.date.extensions" %>
  <%= javascript_include_tag "plugins/daterangepicker/daterangepicker" %>
  <%= javascript_include_tag "plugins/colorpicker/bootstrap-colorpicker.min" %>
  <%= javascript_include_tag "plugins/timepicker/bootstrap-timepicker.min" %>
  <%= javascript_include_tag "AdminLTE/app" %>


  <!-- Javascripts para jTables. -->
  <%= javascript_include_tag "jquery.ui.all" %>
  <!-- Incluir uno de los estilos para la jTable. -->
  <%= stylesheet_link_tag "themes/metro/darkgray/jtable.min.css" %>
  <%= javascript_include_tag "jquery.jtable.js" %>

  <!-- Importaci贸n del CSS para la validaci贸n. -->
  <%= stylesheet_link_tag "css/validationEngine.jquery.css" %>

  <!-- Importaci贸n de Javascript para la validaci贸n. -->
  <%= javascript_include_tag "js/jquery.validationEngine.js" %>
  <%= javascript_include_tag "js/languages/jquery.validationEngine-es.js" %>



  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body class="skin-green">
	<%= render 'layouts/header' %>
	<div>
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		
	</div>
	<%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</body>

</html>
